/* ******************************************** */
/* Style sheet for weekend 1 assignment - Tesla */
/* ******************************************** */


/* ******************************************** */
/* Fonts */
/* ******************************************** */
@font-face{
    font-family: 'gothamSSM';
    src: 
        url('../fonts/GothamSSm-Light_Web.woff2') format('woff2'),
        url('../fonts/GothamSSm-Bold_Web.woff2') format('woff2'),
        url('../fonts/GothamSSm-Book_Web.woff2') format('woff2'),
        url('../fonts/GothamSSm-Medium_Web.woff2') format('woff2');
}


/* ******************************************** */
/* Global */
/* ******************************************** */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    position: fixed;
    width: 245px;
    height: 54px;
    padding-left: 40px;
    line-height: 46px;
    letter-spacing: -0.6px;
    text-size-adjust: 100%;
    font-size: 40px;
}
.logo span{
    display: block;
    width: 120px;
    height: 30px;
    text-align: center;
}
.logo a{
    fill: white;
}
.animation{
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.33s, 0.33s, 0.33s;
    transition-property: color;
    transition-property: border-color;
    transition-property: background-color;
    transition-timing-function: ease, ease, ease;
}
.order-now-btn{
    padding: 4px 24px;
    font-size: 12px;
    line-height: 14.5px;
    text-align: center;
    color: rgb(57, 60, 65);   
    background-color: transparent;
    text-decoration-style: solid;
    border: 3px solid rgb(24, 27, 33);
    border-radius: 15px;
    cursor: pointer;
}
.jump-top{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 48px;
    width: 48px;
    font-size: 28px;
    font-weight: bolder;
    margin-right: 20px;
    line-height: 48px;
    text-align: center;
    padding-top: 8px;
}

/* ******************************************** */
/* Banner 1 */
/* ******************************************** */
.container1{
    height: 100vh;
    width: 100vw;
    background-image: url(../imgs/M3-Hero-LHD-US-D.jpg); 
    background-position: top right;
    background-position-y: -100px;
    background-size: cover;
    font-family: 'gothamSSM';
    font-weight: 500;
    font-size: medium;
    color: white;
}
.container1 a{
    text-decoration: none;
    color: inherit;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.33s, 0.33s, 0.33s;
    transition-property: color;
    transition-property: border-color;
    transition-property: background-color;
    transition-timing-function: ease, ease, ease;
}
.container1 a:hover{
    background-color: #6c7380;
    border-radius: 10px;
}
.container1 header{
    height: 54px;
    line-height: 54px;
}
.navbar1 {
    justify-content: center;
    text-align: center;
}
/* ******************************************** */
/* center nav bar */
/* ******************************************** */
.center-navbar{
    width: 1009px;
    position: absolute;
    left: 245px;
}
.right-navbar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 268px;
}
.navbar1 a, input{
    width: 122.6px;
    padding: 4px 8px;
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
}
.right-navbar input{
    width: max-content;
    height: 28.5px;
    background-color: transparent;
    color: white;
    font-family: 'gothamSSM';
    cursor: pointer;
    border: unset;
}
.right-navbar input:hover{
    background-color: #6c7380;
    border-radius: 10px;
}
/* ******************************************** */
/* Banner Headline */
/* ******************************************** */
.main-headline{
    position: absolute;
    top: 100px;
    width: 1536px;
    height: 48px;
    margin: 5 auto 0;
    padding-right: 150px;
    line-height: 48px;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
}
/* ******************************************** */
/* Banners nav bar */
/* ******************************************** */
.vert-navbar{
    width: fit-content;
    height: 100vh;
    position: fixed;
    padding-top: 180px;
    margin-left: 10px;
}
.banners-list{
    list-style: none;
    list-style-position: inside;
    margin-left: 5px;
    line-height: 25px;
    cursor: pointer;
} 
.banners-list li{
    padding-left: 5px;
    border-left: 1px solid #7e8189;
    color: transparent;
    font-size: 7px;
    font-weight: lighter;
    cursor: pointer;
    margin: 5px 0;
}
.banners-list :nth-child(1){
    border-left: 3px solid white;
}
.banners-list li:hover{
    color: white;
}
/* ******************************************** */
/* banner 1 bottom */
/* ******************************************** */
.banner1-bottom-container{
    width: auto;
    position: absolute;
    bottom: 100px;
    left:50%;
    transform: translateX(-50%);
    color: white;
}
.banner1-bottom-container-mp{
    vertical-align: bottom;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
}
.banner1-bottom-container-mp svg{
    width: 40px;
    height: 21px;
    display: inline-block;
}
.banner1-bottom-btn{
    width: 160px;
    margin-bottom: 10px;
    color: white;
    border-color: white;
}

.next-arrow{
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    left:50%;
    transform: translateX(-50%);
    color: white;
    font-size: 48px;
    font-weight: bolder;
    padding: 0px;
} 


/* ******************************************** */
/* Banner 2 - shortend*/
/* ******************************************** */
.container2{
    height: 100vh;
    width: 100vw;
    font-family: 'gothamSSM';
    font-weight: 500;
    font-size: medium;
    color: black;
}
.container2 a{
    text-decoration: none;
    color: inherit;
}
.banner2-left-section{
    width: 373px;
    height: 100vh;
    padding: 54px 50px 48px;
    display: inline-block;
}
/* ******************************************** */
/* header */
/* ******************************************** */
.banner-sub-header{
    height: 17px;
    font-family: "Gotham Light";
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 17px;
    text-decoration: none;
    font-style: normal;
}
.banner-header{
    height: 36px;
    margin: 2px 0px 4px;
    font-family: "Gotham Medium";
    font-size: 24px;
    font-style: normal;
    letter-spacing: -0.5px;
    line-height: 36px;
    color: rgb(24, 27, 33);
}
.banner2-left-section p{
    height: 164px;
    margin-bottom: 10px;
    padding-bottom: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(57, 60, 65);
}
/* ******************************************** */
/* banner 2 table */
/* ******************************************** */
.page2-table-container{
    height: 247px;
    padding: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(57, 60, 65);
    background-color: rgb(226, 228, 228);
    border-radius: 15px;
}
.safety-table-header{
    width: 267px;
    height: 56px;
    padding-bottom: 16px;
    font-family: "Gotham Medium";
    font-size: 18px;
    letter-spacing: -0.4px;
    line-height: 28px;
    text-align: center;
    color: rgb(24, 27, 33);
}

.safty-card-line-text{
    width: 165px;
    margin-right: 8px 8px 8px 0px;
    text-align: left;
}
.safty-card-line-header{
    height: 21px;
    font-family: "Gotham Bold";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    
}
.safty-card-line-subheader{
    height: 8px;
    font-family: "Gotham Book";
    font-size: 8px;
    font-weight: 400;
    line-height: 8px;
}
.safety-table-star-line{
    height: 20px;
    vertical-align: top;
    font-family: "Gotham Medium";
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}
/* ******************************************** */
/* banner 2 button line */
/* ******************************************** */
.banner-buttons{
    height: 160px;
    margin-top: 16px;
    padding: 48px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    vertical-align: middle;
}
.safty-learn-more{
    width: 136px;
    height: 40px;
    margin-right: 12px;
    line-height: 40px;
    font-weight: 500;
    float: left;
    cursor: pointer;
    text-align: center;
}
.safty-learn-more-btn{
    height: 32px;
    width: 30px;
    padding: 0px 4px;
    background-color: white;
    border:3px solid black;
    border-radius: 50%;
    box-shadow: transparent;
    font-size: 28px;
    text-align: left;
}
.safty-learn-more:hover > .safty-learn-more-btn{
    color: white;
    background-color: black;
    cursor: pointer;
}
.safty-learn-more span{
    vertical-align: top;
    line-height: 32px;    
    font-size: 12px;
    font-style: normal;
    font-weight: lighter;
}

.banner2-order-now-btn{
    float: right;
    width: 120px;
    height: 26px;
}
.banner2-order-now-btn:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
/* ******************************************** */
/* Banner 2 image */
/* ******************************************** */
.banner2-img{
    position: absolute;
    top: 0px;
    bottom: -100px;
    right: 150px;
    height: 100vh;
    width: 1000px;
    padding-top: 100px;
    z-index: -1;
    background-image: url(../imgs/model_3_safety_hero.png);  
    background-position: top right;
    background-size: cover;
}



/* ******************************************** */
/* banner 3 */
/* ******************************************** */

.container3{
    width: 100vw;
    height: 70%;
    font-family: "gothamSSM";
    font-weight: 500;
}
/* ******************************************** */
/* banner 3 - top section */
/* ******************************************** */
.banner3-top-section{
    /* width: 100vw; */
    height: 72vh;
    background-image: url(../imgs/lhd-performance-hero-desktop.jpg);  
    background-size: cover;
    background-position: top right;
    background-position-y: -1040px;
}
.banner3-top-section-symbols{
    position: absolute;
    width: 900px;
    height: 100px;
    bottom: 217px;
    left: 50%;
    transform: translateX(-50%);    
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.banner3-top-section-symbols-mp{
    height: 84px;
    width: 250px;
    margin: 0px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
}
.banner3-top-section-symbols-mp svg{
    width: 40px;
    height: 28px;
    line-height: 28px;
    /* display: inline-block; */
    float: left;
    margin-top: 5px; 
    margin-left: 80px;
}
.banner3-top-symbols-line-top{
    width: 250px;
    height: 36px;
    line-height: 36px;
    font-family: "Gotham Medium";
    text-align: center;
    font-size: 22px;
}
.banner3-top-symbols-line-bottom{
    width: 240px;
    height: 36px;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}
.banner3-top-symbols-line-left{
    padding: 0px 80px;
}
.banner3-top-symbols-line-mid{
    
}
.banner3-top-symbols-line-right{
    width: 280px;
}
/* ******************************************** */
/* banner 3 - bottom section - left*/
/* ******************************************** */
.banner3-bottom-section{
    bottom: 0px;
    width: 100vw;
    height: 200px;
    padding: 0px auto;
    font-weight: 400;
    line-height: 21px;
    color: rgb(57, 60, 65);
    padding: 36px 0px 36px 450px;
    text-align: left;
}
.banner3-bottom-section-left{
    width: 301px;
    height: 105px;
    padding: 0px;
    padding-top: 0px;
    padding-right: 16px;
    float: left;
}
.banner3-sub-header{
    font-size: 15px;
    font-weight: 500;
    counter-reset: rgb(24, 27, 33);
}
.banner3-header{
    font-size: 28px;
}
.banner3-buttons{
    height: 40px;
    padding: 0px;
    padding-right: 33px;
    color: rgb(57, 60, 65);
    text-align: left;
}
.banner3-learn-more{
    width: 120px;
}

/* ******************************************** */
/* banner 3 - bottom section - right*/
/* ******************************************** */
.banner3-bottom-section-right{
    width: 624px;
    display: inline-block;
}
.banner3-bottom-section p{
    height: 105px;
    padding-right: 10px;
    padding-bottom: 16px;
    font-size: 14px;
}